@import url('https://fonts.googleapis.com/css?family=Alegreya+SC|Belleza|Calligraffitti|Chonburi|Forum|Imprima&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya+SC|Belleza|Calligraffitti|Carter+One|Chonburi|Forum|Imprima&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amarante|Elsie|Paprika&display=swap');

#intro{

   color: black;
   font-weight: bold;

   text-align: center;
   text-transform: uppercase;
   padding-top: 230px;
   height: 600px;
   font-family: Calligraffitti;
 }
 .menu {

  color: yellow;
  text-shadow: 6px 6px green;
  font-family: Calligraffitti;
  font-size: 40px;
  }
  body{
    font-family: Calligraffitt
  }
h1{
  color:black;
  font-family: Calligraffitti;

}
body{

    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
    background-color:red;
}
.btn{
  color: wheat;
  border-color: red;
}
.fa {
  padding: 20px;
  font-size: 40px;
  width: 70px;
  text-align: center;
  text-decoration: none;
}
/* hover effect*/
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-google {
background: #dd4b39;
color:black;
}

.fa-linkedin {
background: #007bb5;
color: black;
}

.fa-youtube {
background: #bb0000;
color:black;
}

.fa-instagram {
background: #125688;
color: white;
}

.fa-pinterest {
background: #cb2027;
color: white;
}

.fa-snapchat-ghost {
background: #fffc00;
color: white;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
background: #00aff0;
color: white;
border-radius: 50%;
}

.fa-android {
background: #a4c639;
color: white;
}

.fa-dribbble {
background: #ea4c89;
color: white;
}

.fa-vimeo {
background: #45bbff;
color: white;
}

.fa-tumblr {
background: #2c4762;
color: white;
}

.fa-vine {
background: #00b489;
color: white;
}

.fa-foursquare {
background: #45bbff;
color: white;
}

.fa-stumbleupon {
background: #eb4924;
color: white;
}

.fa-flickr {
background: #f40083;
color: white;
}

.fa-yahoo {
background: #430297;
color: white;
}

.fa-soundcloud {
background: #ff5500;
color: white;
}

.fa-reddit {
background: #ff5700;
color: white;
}

.fa-rss {
background: #ff6600;
color: white;
}
